%header.mdl-layout__header.mdl-layout__header--scroll
    .mdl-layout__header-row
        %span.mdl-layout-title=link_to 'DemoEdu', root_path, class: 'white-text no-decoration'
        .mdl-layout-spacer
        %nav.mdl-navigation.mdl-layout--large-screen-only
            -if current_user.nil?
                =link_to 'Iniciar Sesión', new_user_session_path, class: 'mdl-navigation__link'
            -else
                =link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: 'mdl-navigation__link'
            %a.mdl-navigation__link Link
            %a.mdl-navigation__link Link
.mdl-layout__drawer
    %span.mdl-layout-title DemoEdu
    %nav.mdl-navigation
        %a.mdl-navigation__link Link
        %a.mdl-navigation__link Link
        %a.mdl-navigation__link Link
