<h1 class="text-center">Listado de cursos</h1>

<div class="container">
    <div class="row text-center">
        <% @courses.each do |course| %>
            <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= course.title %></h5>
                            <p class="card-text"><%= course.description %></p>
                            <%= link_to 'Ver mas', course, class: 'btn btn-primary'%>
                        </div>
                    </div>
                </div>
        <% end %>
    </div>
</div>
<div class="">
        <%= link_to 'Agregar Curso', new_course_path%>
</div>
